@mixin phone {
  @media (max-width: 48em) {
    @content;
  }
}

.container {
  font-family: 'Lato', sans-serif;
  .register-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em;
    @include phone {
      padding: 2em;
    }
    img {
      width: 100%;
      max-width: 25em;
    }
  }

  .register-title {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-family: 'Lato', sans-serif;
      font-weight: 200;
      font-size: 200%;
      text-align: center;
    }
  }

  .register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    padding-top: 3em;
  }

  .button {
    background: rgba(255, 255, 255, .2);
    color: white;
    font-size: 150%;
    font-weight: 200;
    padding: .5em 1em .5em 1em;
    margin-bottom: 1em;
  }
  .button:active {
    background: rgba(255, 255, 255, .3);
    box-shadow: none;
  }
  .button:disabled {
    opacity: .7;
  }


  .error-message {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 5em;
    background: rgba(229, 43, 55, 0.71);
    top: 1em;
    left: 50%;
    margin-left: -12.5em;
    @include phone {
      margin-left: 0;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  transition: opacity .2s ease-in-out;
  opacity: 1;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  transition: opacity .2s ease-in-out;
  opacity: 0.01;
}

@import "pieces/Input";
@import "Success";